<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Formulario de Impresiones</div>
            <div class="card-body">
                <form>
                    <div class="form-group"> <input type="text" placeholder="Tipo de color" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Tamaño de area" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Ancho" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Largo" class="form-control"></div>
                    <div class="form-group"> <input type="text" placeholder="Gramaje" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Rollo" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Cantidad" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Correcciones" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Precio por hora" class="form-control"></div>
                    <div class="form-group"><input type="text" placeholder="Cliente" class="form-control"></div>
                    <div class="form-group"><button class="btn btn-success">Calcular Precio</button>
                        <input type="text" placeholder="Precio total" class="form-control"></div>
                        <button class="btn btn-primary">Guardar Impresión</button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-sm-8">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>ID Impresión</th>
                  <th>Tipo de color</th>
                  <th>Tamaño de area</th>
                  <th>Ancho</th>
                  <th>Largo</th>
                  <th>Gramaje</th>
                  <th>Rollo</th>
                  <th>Cantidad</th>
                  <th>Correcciones</th>
                  <th>Tiempo</th>
                  <th>Precio por hora</th>
                  <th>Precio Total</th>
                  <th>Cliente</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let impresion of listaImpresion">
                  <td>{{impresion.tipo_color}}</td>
                  <td>{{impresion.tamanio_area}}</td>
                  <td>{{impresion.ancho}}</td>
                  <td>{{impresion.largo}}</td> 
                  <td>{{impresion.gramaje}}</td>
                  <td>{{impresion.rollo}}</td>
                  <td>{{impresion.cantidad}}</td>
                  <td>{{impresion.correcciones}}</td>
                  <td>{{impresion.tiempo_co}}</td>
                  <td>{{impresion.precio_x_hora}}</td> 
                  <td>{{impresion.precio_total}}</td>
                  <td>{{impresion.cliente}}</td>
                  
              </tr>

          </tbody>
      </table>
    </div>
</div>