<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">Formulario de Impresiones</div>
            <div class="card-body">
                <form [formGroup]="formImpresion" (ngSubmit)="guardarImpresiones()">
                    <input formControlName="id_impresion" type="hidden" >
                    <div class="form-group"><input formControlName="tipo_color" type="text" placeholder="Tipo de color" class="form-control"></div>
                    <div class="form-group"><input formControlName="tamanio_area" type="text" placeholder="Tamaño de area" class="form-control"></div>
                    <div class="form-group"><input formControlName="ancho" type="text" placeholder="Ancho" class="form-control"></div>
                    <div class="form-group"><input formControlName="largo" type="text" placeholder="Largo" class="form-control"></div>
                    <div class="form-group"><input formControlName="gramaje" type="text" placeholder="Gramaje" class="form-control"></div>
                    <div class="form-group"><input formControlName="rollo" type="text" placeholder="Rollo" class="form-control"></div>
                    <div class="form-group"><input formControlName="cantidad" type="text" placeholder="Cantidad" class="form-control"></div>
                    <div class="form-group"><input formControlName="correcciones" type="text" placeholder="Correcciones" class="form-control"></div>
                    <div class="form-group"><input formControlName="tiempo_co" type="text" placeholder="Tiempo" class="form-control"></div>
                    <div class="form-group"><input formControlName="precio_x_hora" type="text" placeholder="Precio por hora" class="form-control"></div>
                    <div class="form-group"><input formControlName="cliente" type="text" placeholder="Cliente" class="form-control"></div>
                    <div class="form-group"><input formControlName="precio_total" type="text" placeholder="Precio total" class="form-control"></div>
                    <button class="btn btn-primary">Guardar Impresión</button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-sm-9">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>ID Impresión</th>
                  <th>Cliente</th>
                  <th>Tipo de color</th>
                  <th>Tamaño de area</th>
                  <th>Ancho</th>
                  <th>Largo</th>
                  <th>Gramaje</th>
                  <th>Rollo</th>
                  <th>Cantidad</th>
                  <th>Correcciones</th>
                  <th>Tiempo</th>
                  <th>Precio por hora</th>
                  <th>Precio Total</th>
                  <th>Operaciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let impresion of listaImpresion">
                  <td>{{impresion.id_impresion}}</td>
                  <td>{{impresion.cliente}}</td>
                  <td>{{impresion.tipo_color}}</td>
                  <td>{{impresion.tamanio_area}}</td>
                  <td>{{impresion.ancho}}</td>
                  <td>{{impresion.largo}}</td> 
                  <td>{{impresion.gramaje}}</td>
                  <td>{{impresion.rollo}}</td>
                  <td>{{impresion.cantidad}}</td>
                  <td>{{impresion.correcciones}}</td>
                  <td>{{impresion.tiempo_co}}</td>
                  <td>{{impresion.precio_x_hora}}</td> 
                  <td>{{impresion.precio_total}}</td>
              
                  <td>
                      <div class="btn-group">
                          <button (click)="eliminarImpresion(impresion.id_impresion)" class="btn btn-danger">Eliminar</button>
                          <button (click)="editarImpresion(impresion)" class="btn btn-primary">Editar</button>
                      </div>
                  </td>
                  
              </tr>

          </tbody>
      </table>
    </div>
</div>