<div class="row">
    <div class="coll-sm-4">

        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <input placeholder="ingrese cliente a buscar" [(ngModel)]="buscarCliente" type="text" class="form-control">
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>nombre razon social</th>
                    <th>DNI-cuit</th>
                    <th>telefono-celular</th>
                    <th>profesion</th>
                    <th>correo electronico</th>
                    <th>operaciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of listCliente | filter:buscarCliente">
                    <td>{{cliente.id_cliente}}</td>
                    <td>{{cliente.nombre_razon_social}}</td>
                    <td>{{cliente.dni_cuit}}</td>
                    <td>{{cliente.telefono_celular}}</td>
                    <td>{{cliente.profesion}}</td>
                    <td>{{cliente.correo_electronico}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button (click="eliminarCliente(cliente.id_cliente)" ) class=" btn btn-danger">Eliminar cliente</button>
                            <button (click)="editarCliente(cliente)" class="btn btn-primary">editar cliente</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">formulario del cliente</div>
                <div class="car-body"></div>
                <form [formGroup]="formCliente" (ngSubmit)="guardarCliente()" novalidate>
                    <input formControlName="id_cliente" type="hidden">
                    <div class="form-group"><input [ngClass]="{'ins-invalid':formCliente.get('nombre_razon_social')?.touched}" formControlName="nombre_razon_social" type="text" placeholder="nombre o razon social" type="text" class="form-control"></div>
                    <div class="form-group"><input [ngClass]="{'ins-invalid':formCliente.get('dni_cuit')?.touched}" formControlName="dni_cuit" type="text" placeholder="DNI o CUIT" type="text" class="form-control"></div>
                    <div class="form-group"><input formControlName="telefono_celular" type="text" placeholder="numero de telefono o celular" type="text" class="form-control"></div>
                    <div class="form-group"><input [ngClass]="{'ins-invalid':formCliente.get('profesion')?.touched}" formControlName="profesion" type="text" placeholder="profesion" type="text" class="form-control"></div>
                    <div class="form-group"><input formControlName="correo_electronico" type="text" placeholder="correo electronico" type="text" class="form-control"></div>

                    <button [disabled]="formCliente.invalid" class="btn btn-success">guardar cliente</button>
                </form>

            </div>
        </div>
    </div>