
<div class="row">

    <div class="col-sm-6">

        <div class="row">

            <div class="col-sm-4">
            <div class="form-group">
            <input [(ngModel)]= "buscarGramaje"  type="text" class="form-control">

                 </div>
             </div>
        </div>
        <table class="table table-striped">
           <thead>
                <tr>
                    <th>gramajes</th>
                    <th>id gramajes</th>
                    <th>operaciones</th>
                </tr>
           </thead>    

                <tbody>
                     <tr *ngFor="let gramaje of listgramajes | filter:buscarGramaje">
                        <td>{{gramaje.gramaje}}</td> 
                        <td>{{gramaje.id_gramaje}}</td> 
                        <td>

                            <div class="btn-group btn btn-group-sm">

                                <button (click) = 'eliminargramaje(gramaje.id_gramaje)' class="btn btn-danger">Eliminar</button>
                                <button (click)= "Editargramaje(gramaje)" class="btn btn-primary">Editar</button>
                            </div>


                        </td> 
                    </tr>  
                    
                </tbody>
        </table>
    </div>


    <div class="col-sm-6">

        <div class="card">
          <div class="card-heard">gramajes</div>
          <div class="card-body"> 
            <form [formGroup]="Formgramaje" (ngSubmit)="guardargramajes()" novalidate >
                <div class="form-group">
                    <input [ngClass]= "{'is- invalid':Formgramaje.get('gramaje')?.touched}" formControlName="gramaje" placeholder="ingrese el gramaje" type="text" class="from-control">
                </div>

                <div class="form-group">
                    <input formControlName="id_gramaje"placeholder="ingrese el  ID del gramaje" type="hidden" class="from-control">
                </div>

                <button [disabled]="Formgramaje.invalid" class="btn btn-success"> guardar gramaje</button>
            </form>
          </div>

        </div>


    </div>
  

</div>




