<div class="row">

    <div class="col-sm-8">

        <table class="table table-striped">
           <thead>
                <tr>
                    <th>gramajes</th>
                    <th>id gramajes</th>



                </tr>


           </thead>    

                <tbody>

                     <tr *ngforce="let gramaje of listgramaje"> </tr>  
                     <td>{{gramaje.gramaje}}}</td> 
                     <td>{{gramaje.id gramaje}}</td> 

                </tbody>

        </table>>
    
    </div>

    <div class="col-sm-8">

        <div class="card">

          <div class="card-heard">gramajes</div>
          <div class="card-body"> 
            <form>
                <div class="form-group">
                    <input placeholder="ingrese el gramaje" type="text" class="from-control">
                </div>

                <div class="form-group">
                    <input placeholder="ingrese el  ID del gramaje" type="text" class="from-control">
                </div>

                <button class="btn btn-success"> guardar gramaje</button>



            </form>
          </div>

        </div>


    </div>
  

</div>




