
<br>
<br>
<h1 align="center">Rollo</h1>
<br>
<br>
<table style="undefined;table-layout: fixed; width: 777px">
    <colgroup>
    <col style="width: 520px">
    <col style="width: 357px">
    <col style="width: 120px">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Ancho</label>
                </div>
                <input type="number" aria-label="Last name" class="form-control">
              </div>
              <div class="input-group">
                <input type="number" aria-label="Last name" class="form-control">
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect01">Largo</label>
                </div>
              </div>
              Nombre
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with radio button">
              </div>
              
        </th>
        <th></th>
      </tr>
    </thead>
    </table>
